@model Domain.Entities.Newslettre
@{
    ViewBag.Title = "CreateFront";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="newsletter">
    <div class="newsletter_content">
        <div class="newsletter_image" style="background-image:url(@Url.Content("/Content/FrontOffice/images/newsletter.png"))"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                   
                </div>
            </div>
            <style>
                

html , body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

.panel {
    
    top: 180px;
	text-align: center;
	margin: auto;
	width: 360px;
	height: auto;
	box-shadow: 0px 0px 10px #888888;
	overflow: hidden;
	margin-top: 20px;
    background-color: rgba(0,0,0,0.3);
}
.panel h1 {
	margin-top: 20px;
	font-size: 24px;
}
.facebook-sign {
	background-color: #405d9a;
	margin: 20px 20px;
	color: #fff;
	padding: 15px 8px;
}

.or {
	padding: 10px;
	width: 20px;
	height: 20px;
	margin: auto;
	border-radius: 50px;
	border: 1px solid #cccccc;
	margin-bottom: 20px;
}

input {
	border: 1px solid #cccccc;
	padding: 15px 8px;
	width: 300px;
	margin-bottom: 15px;
}

.sign-up {
	background: #f27242;
	color: #fff;
	font-size: 16px;
	padding: 1px;
}
            </style>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <title>Product Single Page</title>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
                <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
            </head>
            <body>
                <div class="panel">

                    <div class="facebook-sign">
                        <i class="fa fa-facebook-official" aria-hidden="true"> Sign Up with Facebook</i>
                    </div>
                    
                    <form action="#">
                        <input type="email" placeholder="Your E-mail" @Html.EditorFor(model => model.MailUser, new { htmlAttributes = new { @class = "newsletter_input" } })> <br>
                        <input type="number" placeholder="Your Phone" @Html.EditorFor(model => model.PhoneUser, new { htmlAttributes = new { @class = "newsletter_input" } })> <br>
                        
                        <div class="sign-up">
                            <button type="submit" class="newsletter_button" style="
    width: 370px;
    height: 46px;">subscribe</button>
                            <p>Sig Up Now</p>
                        </div>
                    </form>
                </div>
            </body>
        </html>
        </div>
    </div>
</div>
}